
.Answer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #727af0;
    border: 3px solid #4a50a0;
    border-radius: 5rem;
    color: white;
    padding: 0.7rem;
    width: 80%;
    justify-self: center;
    font-weight: 600;
    font-size: 1.1rem;
}

@media screen and (min-width: 40rem) {
    .Answer {
        width: 100%;
        padding: 0.7rem 0;
    }
}

.selectedAnswer {
    background-color: #2d3166;
    border-color: white;
}

.rightAnswer {
    background-color: #59FFA0;
    border-color: #267448;
    color: #267448;
}

.wrongAnswer {
    background-color: #d64045;
    border-color: #6b1f21;
    color: #57181b;
}