@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');

#questionMark, #exclamationMark {
    position: fixed;
    z-index: -1;
    width: 22rem;
    height: 22rem;
}

#questionMark {
    top: -85px;
    right: -90px;
}

#exclamationMark {
    bottom: -85px;
    left: -95px;
}

/* Quiz page styles */

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App {
    display: flex;
    justify-content: center;
}

.App main {
    animation-name: FadeIn;
    animation-duration: 1.5s;
    transition-timing-function: linear;
    display: grid;
    grid-template-columns: 100%;
    gap: 1.5rem;
    max-width: 50rem;
    margin: 1.5rem;
    min-width: 18rem;

}

#submit, #reset {
    border: none;
    background-color: #4a50a0;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

#score {
    text-align: center;
    font-size: 1.25rem;
    color: #4a50a0;
    font-weight: bold;
}