.About {
    width: 80%;
    margin: 0 auto;
}

.About h2 {
    margin-bottom: 0.3rem;
}

.About p {
    font-size: 1.05rem;
    overflow-wrap: break-word;
}

@media screen and (max-width: 23em) {
    .About h2 {
        font-size: 1.35em;
    }

    .About p {
        font-size: 0.95rem;
        overflow-wrap: break-word;
    }
}