.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilepic {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-bottom: 0.7rem;
}

.name {
    padding-bottom: 0.3rem;
}

.title {
    color: rgb(253, 184, 176);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 1.5rem 0;
    column-gap: 0.5rem;
}

.buttons > * {
    text-align: center;
}

.buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.2rem;
    width: 7rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.email {
    color: rgb(80, 80, 80);
    background-color: whitesmoke;
}

.emailContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 5px;
}

.email img {
    width: 45px;
}

.email p {
    font-size: 1rem;
    font-weight: 600;
}

.linkedin {
    color: whitesmoke;
    background-color: #0a66c2;
    background-image: url('../images/linkedin.png');
    background-size: cover;
    background-position: center;

}

@media screen and (max-width: 23em) {
    .buttons a {
        width: 5rem;
        height: 2.5rem;
    }

    .emailContent {
        padding-right: 3px;
    }
    
    .email img {
        width: 35px;
    }
    
    .email p {
        font-size: 0.8rem;
        font-weight: 500;
    }
}