.Interests {
    width: 80%;
    margin: 0.5rem auto 1.0825rem;
}

.Interests h2 {
    margin-bottom: 0.3rem;
}

/* .Interests ul {
    font-size: 1.1rem;
    overflow-wrap: break-word;
    list-style-position: inside;
    margin-bottom: 0.3rem;
}

.Interests li {
    margin-bottom: 0.1rem;
} */

.container {
    display: flex;
    flex-wrap: wrap;
}

.container p {
    white-space: nowrap;
    padding: 0.15rem;
    margin: 0.15rem;
    border: 2px solid grey;
    border-radius: 0.3rem;
    background-color: rgba(245, 245, 245, 0.137);
}

@media screen and (max-width: 23em) {

    .Interests h2 {
        font-size: 1.35em;
    }

    .container p {
        font-size: 0.95rem;
    }
}